* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /* border: 1px solid black; */
}

body {
  width: 100%;
}

.stopScroll {
  overflow:hidden;
}

.content {
  width: 100%;
  height: max-content;
  background-color: hsl(226, 38%, 22%);
  overflow: hidden;
}

.content a {
  color: inherit;
  text-decoration: none;
}

  /***************************************************************************************/
  /***************************************************************************************/
  /*
  *    MEDIA QUERYS
  */
  /***************************************************************************************/
  /***************************************************************************************/

@media only screen and (max-width: 875px) {

}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 414px) {

}
